<form method="post" action="{{ path('highlight_delete', {'id': highlight.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ highlight.id) }}">
    <button class="btn">Delete</button>
</form>
